@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import "tailwindcss";

:root {
  --dark: #283618;
  --mid: #606c38;
  --light: #fefae0;
}

* {
  box-sizing: border-box;
  font-family: "Audiowide", sans-serif;
}

html {
  overflow: hidden;
}

body {
  overflow: hidden;
  background-image:
    url("./assets/forest1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

button,
input {
  font: inherit;
}

.timer-size {
  font-size: clamp(4rem, 18vw, 10rem);
}

.task-list-height {
  max-height: clamp(8rem, 24vh, 18rem);
}

button{
  cursor: pointer;
}